# IDE: Visual Studio Code Settings Directory
.vscode/**/*
!.vscode/extensions.json
!.vscode/settings.json

# Node.js: Dependency Directory
node_modules/

# PNPM: Dependencies Installation Log File
.pnpm-debug.log*

# Miscellaneous
**/.DS_Store
